{% extends "_base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
{% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}

<div class="container" style="text-align: right;">

    <section id="about">
        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
            <h2 class="section-title">
                {% element h1 %}
                {% trans "Password Reset" %}
                {% endelement %}
            </h2>
            <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column p-4">
                <h1 class="page-title"></h1>
                <a href="/" class="btn btn-info">Back to home</a>
            </div>
        </div>
    </section>



    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
    <h3>
        We have sent you an email. 
        <br>
        If you have not received it please check your spam folder. 
        <br>
        Otherwise contact us if you do not receive it in a few minutes.
        <br>
        <br>
        ما برای شما ایمیل فرستادیم. 
        <br>
        اگر آن را دریافت نکرده اید، لطفاً پوشه اسپم خود را بررسی کنید. 
        <br>
        در غیر این صورت اگر ظرف چند دقیقه آن را دریافت نکردید با ما تماس بگیرید.
    </h3>
    {% endelement %}
</div>
<br>
<br>

{% endblock content %}