{% extends '_base.html' %}
{% block page_title %}
about us
{% endblock %}


{% block content %}




<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper container-fluid">
        <div class="shop-page-wrapper shop-fullwidth">
            <div class="container-fluid shop-products">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="product-tab-content">
                            <div class="tab-pane fade show active" id="nav-all">
                                <p>
                                <h1 align="center">About</h1>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->


    <br>
    <br>
    <br>

    <div class="container">

        
        <div class="section">
            <h2>Project Overview</h2>
            <p>acronproject.com is a Django-based web application currently under development. The project focuses on creating a comprehensive user panel for editors to publish articles. Additionally, it aims to develop a messaging system similar to Telegram, where users can send messages to each other. The messaging feature is designed to exclude image and video sharing to minimize server load.</p>
        </div>

        <br>
        
        
        <div class="section persian">
            <h2>بررسی پروژه</h2>
            <p>acronproject.com یک برنامه وب مبتنی بر Django است که در حال حاضر در حال توسعه است. این پروژه بر ایجاد یک پنل کاربری جامع برای ویراستاران به منظور انتشار مقالات تمرکز دارد. علاوه بر این، هدف آن توسعه یک سیستم پیام‌رسانی مشابه تلگرام است که کاربران بتوانند به همدیگر پیام دهند. این ویژگی پیام‌رسانی به گونه‌ای طراحی شده که ارسال تصاویر و ویدیوها را حذف کرده تا بار سرور به حداقل برسد.</p>
        </div>
    </div>
 
</div>
<!-- Main Wrapper End -->

<br>
<br>
<br>

{% endblock %}