{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
{% translate 'HOME' %}
{% endblock %}
{% block content %}



<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--10" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="page-title" align="center">{% translate 'Home' %}</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Breadcrumb area End -->
    
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper container-fluid">
        <div class="shop-page-wrapper shop-fullwidth">
            <div class="container-fluid shop-products">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="product-tab-content">
                            <div class="tab-pane fade show active" id="nav-all">
                                <div class="row xxl-block-grid-6 grid-space-20">
                                    <img class="px-5" src="../static/img/SINA-min.jpg" style="max-height: 500px;">
                                    <br>
                                    <br>
                                    <img class="px-5" src="../static/img/SINA-min.jpg" style="max-height: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->


  


</div>
<!-- Main Wrapper End -->






{% endblock %}