<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% for ordered_item in ordered_items %}
        <h2>name: {{ ordered_item.product }}</h2>
        <p>id: {{ ordered_item.id }}</p>
        <h3>order: {{ ordered_item.order }}</h3>
        <p>inventory: {{ ordered_item.product.inventory }}</p>
        <h2>----------------------------------------------------------------</h2>
    {% endfor %}
</body>
</html>