<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% for comment in comments %}
        <h2>comment name: {{ comment.name }}</h2>
        <p>product name:{{ comment.product.name }} </p>
        <p>status: {{ comment.get_status_display  }}</p>
        <h2>----------------------------------------------------------------</h2>
    {% endfor %}
</body>
</html>